.header {
  background: #fff;
  padding: 22px 0 18px;
  box-shadow: 0 2px 16px rgba(#18274b, 0.08), 0 4px 4px rgba(#18274b, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;

  @include maxWidth(991px) {
    padding: 16px 0;
  }

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &_block {
    display: flex;
    align-items: center;

    &-left {
      justify-content: flex-start;
      gap: 68px;

      @include maxWidth(1550px) {
        gap: 30px;
      }

      @include maxWidth(1200px) {
        gap: 10px;
      }
    }

    &-right {
      justify-content: flex-end;
      gap: 48px;

      @include maxWidth(1550px) {
        gap: 30px;
      }

      @include maxWidth(1200px) {
        gap: 10px;
      }

      @include maxWidth(991px) {
        display: none;
      }
    }

    &-mob {
      display: none;
      align-items: center;
      gap: 32px;

      @include maxWidth(991px) {
        display: flex;
      }
    }
  }
}
