.hero {
  position: relative;
  min-height: calc(100vh - 86px);
  padding: 210px 0 60px;
  display: flex;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 10;
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 768px;
  }

  &_title {
    font-size: clamp(24px, 4vw, 60px);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.05;
    margin-bottom: 40px;
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 48px;

    p {
      font-size: clamp(16px, 3vw, 20px);
      color: #fff;
      line-height: 1.2;
      font-weight: 550;
    }
  }

  &_sectors {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: auto;

    &_item {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      padding: 14px 20px;
      border-radius: 8px;
      background: rgba(#000, 0.2);
      color: #fff;
      line-height: 1;
    }
  }
}
