.hero {
  position: relative;
  min-height: calc(100vh - 86px);
  padding: 210px 0 60px;
  display: flex;

  @include maxWidth(991px) {
    min-height: calc(100vh - 60px);
    padding: 100px 0 40px;
  }

  &-type2 {
    padding: 28px 0 60px;
  }

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    position: relative;
    z-index: 10;

    @include maxWidth(768px) {
      justify-content: center;
    }

    &-type2 {
      gap: 180px;
      justify-content: flex-start;

      @include maxWidth(768px) {
        gap: 40px;
      }
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 768px;

    @include maxWidth(991px) {
      align-items: center;
      max-width: unset;
      height: 100%;
      justify-content: center;
    }
  }

  &_title {
    font-size: clamp(32px, 4vw, 60px);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.05;
    margin-bottom: 40px;

    @include maxWidth(991px) {
      text-align: center;
      line-height: 1.125;
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 48px;

    @include maxWidth(991px) {
      text-align: center;
      align-items: center;
      gap: 4px;
    }

    p {
      font-size: clamp(18px, 3vw, 20px);
      color: #fff;
      line-height: 1.2;
      font-weight: 550;

      @include maxWidth(991px) {
        line-height: 1.3;
      }
    }
  }

  &_sectors {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: auto;

    @include maxWidth(991px) {
      display: none;
    }

    &_item {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      border-radius: 8px;
      overflow: hidden;
      color: #fff;
      line-height: 1;

      a {
        display: flex;
        color: inherit;
        padding: 14px 20px;
        background: rgba(#000, 0.2);
        transition: all 0.2s linear;

        &:hover {
          background: rgba(#000, 0.4);
        }
      }
    }
  }
}
