.information {
  &-type2 {
    background: #f1f1f1;
  }
  &_parts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_part {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &_item {
      background: #fff;
      border-radius: 8px;
      padding: 20px;
      display: grid;
      grid-template-columns: 348px 1fr;
      align-items: center;
      gap: 40px;

      @include maxWidth(1200px) {
        grid-template-columns: 258px 1fr;
      }

      @include maxWidth(576px) {
        grid-template-columns: 120px 1fr;
        gap: 20px;
      }

      span {
        font-size: clamp(13px, 3vw, 16px);
        color: #000;
        font-weight: 600;
        line-height: 1.25;

        @include maxWidth(576px) {
          word-wrap: break-word;
        }
      }

      p {
        font-size: clamp(13px, 3vw, 18px);
        color: #5b5d68;
        font-weight: 500;

        @include maxWidth(576px) {
          word-wrap: break-word;
        }
      }
    }
  }

  &_widget {
    &_icon {
      background-image: url('data:image/svg+xml,%3Csvg width="60" height="53" viewBox="0 0 60 53" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M41.4375 13.4688L29.3438 1.65625C28.6875 1 27.6563 0.53125 26.625 0.53125H10.5C4.96875 0.53125 0.46875 5.03125 0.46875 10.5625V42.4375C0.46875 47.9688 4.96875 52.4688 10.5 52.4688H20.3438C19.5938 51.5312 19.125 50.3125 18.9375 49.0938H10.5C6.84375 49.0938 3.9375 46.0938 3.9375 42.5312V10.5625C3.9375 6.90625 6.9375 4 10.5 4H26.625C26.7188 4 26.8125 4 26.9063 4.09375L27 4.1875V9.53125C27.0938 10.1875 27.2813 10.9375 27.5625 11.5938C28.6875 14.0312 31.0313 15.8125 33.75 16.1875C34.0313 16.1875 34.4063 16.2812 34.6875 16.2812L39.2813 16.4688C39.375 16.6562 39.375 16.75 39.375 16.9375V30.3438H42.75V16.75C42.8438 15.5312 42.2813 14.3125 41.4375 13.4688Z" fill="%23CA0800"/%3E%3Cpath d="M32.4375 40.1875C32.5312 40.375 32.625 40.5625 32.625 40.8438C32.625 41.4063 32.4375 41.7812 32.0625 42.0625C31.6875 42.25 31.125 42.3438 30.2812 42.3438H29.5312V39.4375H30.375C30.6563 39.4375 31.0312 39.4375 31.2187 39.5313C31.5 39.625 31.6875 39.625 31.875 39.7187C32.1562 39.9062 32.3437 40 32.4375 40.1875Z" fill="%23CA0800"/%3E%3Cpath d="M42.1875 40.2813C41.625 39.7188 40.875 39.4375 39.75 39.4375H38.8125V45.7188H39.6562C40.7812 45.7188 41.625 45.4375 42.1875 44.875C42.75 44.3125 43.0313 43.5625 43.0313 42.5312C43.0313 41.5937 42.75 40.8438 42.1875 40.2813ZM42.1875 40.2813C41.625 39.7188 40.875 39.4375 39.75 39.4375H38.8125V45.7188H39.6562C40.7812 45.7188 41.625 45.4375 42.1875 44.875C42.75 44.3125 43.0313 43.5625 43.0313 42.5312C43.0313 41.5937 42.75 40.8438 42.1875 40.2813ZM55.2188 32.875H25.9688C23.625 32.875 21.6562 34.75 21.6562 37.1875V48.1562C21.6562 50.5 23.5313 52.4688 25.9688 52.4688H55.2188C57.5625 52.4688 59.5313 50.5 59.5313 48.1562V37.1875C59.5313 34.8438 57.5625 32.875 55.2188 32.875ZM33.75 43.5625C32.9062 44.125 31.7812 44.4062 30.2812 44.4062H29.5312V46.6563C29.5312 47.3125 29.0625 47.7813 28.4062 47.7813C27.75 47.7813 27.2813 47.3125 27.2813 46.6563V38.3125C27.2813 38.125 27.4688 37.9375 27.6562 37.9375C28.0312 37.8438 28.4062 37.8437 28.875 37.8437C29.4375 37.8437 29.9062 37.75 30.2812 37.75C31.7812 37.75 32.9062 38.0312 33.75 38.5C34.5938 39.0625 34.9688 39.9063 34.9688 41.0313C34.875 42.1563 34.5 43 33.75 43.5625ZM44.9063 44.9688C44.625 45.625 44.25 46.1875 43.7813 46.5625C43.3125 46.9375 42.6562 47.3125 42 47.5C41.25 47.6875 40.5 47.7813 39.5625 47.7813C39.1875 47.7813 38.7188 47.7812 38.1563 47.6875C37.6875 47.6875 37.3125 47.5938 36.9375 47.5C36.75 47.5 36.5625 47.3125 36.5625 47.125V38.125C36.5625 37.9375 36.75 37.75 36.9375 37.75C37.3125 37.6563 37.7812 37.6563 38.25 37.6563C38.8125 37.6563 39.2812 37.5625 39.6562 37.5625C40.5 37.5625 41.25 37.6562 42 37.8437C42.6562 38.0312 43.3125 38.3125 43.7813 38.7812C44.25 39.1562 44.625 39.7188 44.9063 40.375C45.1875 41.0312 45.2812 41.7812 45.2812 42.7188C45.2812 43.5625 45.1875 44.3125 44.9063 44.9688ZM52.875 39.5313H49.4063V41.5937H52.4063C52.9688 41.5937 53.3438 41.9687 53.3438 42.5312C53.3438 43.0937 52.875 43.4687 52.4063 43.4687H49.4063V46.4688C49.4063 47.125 48.9375 47.5938 48.2813 47.5938C47.625 47.5938 47.1562 47.125 47.1562 46.4688V38.0312C47.1562 37.8438 47.3438 37.6563 47.5313 37.6563H52.875C53.4375 37.6563 53.8125 38.125 53.8125 38.5938C53.8125 39.1563 53.4375 39.5313 52.875 39.5313ZM39.75 39.5313H38.8125V45.8125H39.6562C40.7812 45.8125 41.625 45.5313 42.1875 44.9688C42.75 44.4063 43.0313 43.6563 43.0313 42.625C43.0313 41.5938 42.75 40.75 42.2812 40.2813C41.7188 39.7188 40.875 39.5313 39.75 39.5313Z" fill="%23CA0800"/%3E%3C/svg%3E');
    }
  }
}
