.information {
  &-type2 {
    background: #f1f1f1;
  }
  &_parts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_part {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &_item {
      background: #fff;
      border-radius: 8px;
      padding: 20px;
      display: grid;
      grid-template-columns: 348px 1fr;
      align-items: center;
      gap: 40px;

      @include maxWidth(1200px) {
        grid-template-columns: 258px 1fr;
      }

      @include maxWidth(576px) {
        grid-template-columns: 120px 1fr;
        gap: 20px;
      }

      span {
        font-size: clamp(13px, 3vw, 16px);
        color: #000;
        font-weight: 600;
        line-height: 1.25;

        @include maxWidth(576px) {
          word-wrap: break-word;
        }
      }

      p {
        font-size: clamp(13px, 3vw, 18px);
        color: #5b5d68;
        font-weight: 500;

        @include maxWidth(576px) {
          word-wrap: break-word;
        }
      }
    }
  }
}
