.new {
  &_content {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @include maxWidth(768px) {
      gap: 32px;
    }
  }

  &_part {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    @include maxWidth(768px) {
      gap: 32px;
    }

    &-main {
      gap: 60px;
      margin-bottom: 32px;

      @include maxWidth(768px) {
        gap: 32px;
      }
    }

    &-author {
      gap: 32px;
    }

    &-quote {
      gap: 40px;
      padding: 40px 32px;
      border-radius: 8px;
      background: #f1f1f1;
      position: relative;

      @include maxWidth(991px) {
        padding: 24px 20px;
      }

      &::after {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 32px;
        top: 40px;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8464 3.07715H4.61547C3.33324 3.07715 2.24358 3.52591 1.34596 4.42319C0.448766 5.32064 0 6.41031 0 7.69261V16.9232C0 18.2054 0.448513 19.2949 1.34596 20.1922C2.24349 21.0894 3.33349 21.5383 4.61547 21.5383H10.0001C10.6409 21.5383 11.1859 21.7628 11.6346 22.2114C12.0834 22.6597 12.3077 23.2049 12.3077 23.8462V24.615C12.3077 26.3139 11.7066 27.7637 10.5048 28.9659C9.30292 30.1674 7.85272 30.7684 6.15373 30.7684H4.61547C4.19853 30.7684 3.83808 30.9211 3.53346 31.2254C3.22909 31.5296 3.07678 31.8903 3.07678 32.307V35.3843C3.07678 35.8003 3.22909 36.1617 3.53346 36.4661C3.83834 36.7703 4.19844 36.923 4.61547 36.923H6.15381C7.82065 36.923 9.4112 36.598 10.9257 35.9492C12.4402 35.3003 13.7502 34.4226 14.856 33.3168C15.9616 32.2109 16.8391 30.9011 17.4881 29.3866C18.1369 27.8722 18.4615 26.2817 18.4615 24.6151V7.69228C18.4615 6.40997 18.0128 5.32039 17.1155 4.42311C16.2182 3.52583 15.1283 3.07715 13.8464 3.07715ZM38.6535 4.42319C37.7563 3.52591 36.6666 3.07715 35.3844 3.07715H26.1538C24.8715 3.07715 23.7819 3.52591 22.8846 4.42319C21.9874 5.32072 21.5388 6.41031 21.5388 7.69261V16.9232C21.5388 18.2054 21.9874 19.2949 22.8846 20.1922C23.7819 21.0894 24.8716 21.5383 26.1538 21.5383H31.5384C32.1792 21.5383 32.7246 21.7628 33.1733 22.2114C33.6216 22.66 33.8464 23.2049 33.8464 23.8462V24.615C33.8464 26.3139 33.2453 27.7637 32.0432 28.9659C30.8414 30.1674 29.3915 30.7684 27.6924 30.7684H26.1538C25.7372 30.7684 25.3764 30.9211 25.0721 31.2254C24.7676 31.5296 24.6151 31.8903 24.6151 32.307V35.3843C24.6151 35.8003 24.7676 36.1617 25.0721 36.4661C25.3763 36.7703 25.7371 36.923 26.1538 36.923H27.6924C29.359 36.923 30.9494 36.598 32.4641 35.9492C33.9783 35.3003 35.2881 34.4226 36.394 33.3168C37.4999 32.2109 38.3779 30.9008 39.0264 29.3866C39.6753 27.8725 40 26.2817 40 24.6151V7.69228C39.9997 6.40997 39.5514 5.32039 38.6535 4.42319Z' fill='white'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;

        @include maxWidth(991px) {
          width: 32px;
          height: 32px;
          right: 20px;
          top: 24px;
        }
      }
    }
  }

  &_quote {
    &_title {
      padding-right: 72px;

      @include maxWidth(991px) {
        padding-right: 52px;
      }
    }
  }

  &_services {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &_gallery {
    width: 100%;

    @include maxWidth(991px) {
      margin-right: -20px;
      padding-left: 0;
    }

    &_swiper {
      height: 480px;

      @include maxWidth(768px) {
        height: 180px;
      }
    }

    &_item {
      border-radius: 8px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &_text {
    color: #5b5d68;
    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
      color: inherit;
      font-size: clamp(16px, 3vw, 20px);
      line-height: 1.6;
      font-weight: 500;
    }

    &_quote {
      font-style: italic;
    }

    &_notice {
      font-weight: 600 !important;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #5b5d68;

    ol {
      list-style-position: inside;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    p,
    li {
      color: inherit;
      font-size: clamp(16px, 3vw, 20px);
      line-height: 1.6;
      font-weight: 500;
    }

    &_notice {
      font-weight: 600 !important;
    }
  }

  &_author {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: auto auto;
    gap: 16px 20px;
    padding: 20px 24px;
    background: #f1f1f1;
    width: fit-content;
    border-radius: 8px;

    &_avatar {
      grid-row-start: 1;
      grid-row-end: 3;
      width: 100%;
      height: 60px;
      border-radius: 6px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &_name {
      color: #373940;
      font-size: clamp(16px, 3vw, 20px);
      font-weight: 600;
      line-height: 1;
    }

    &_position {
      font-size: clamp(14px, 3vw, 18px);
      color: #5b5d68;
      font-weight: 500;
      line-height: 1;
    }
  }

  &_widget {
    &_icon {
      background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_140_1698)'%3E%3Cpath d='M46.6931 59.9849C44.2581 59.9849 41.4381 59.2149 38.1981 57.6774C34.5831 55.9624 32.8331 56.0349 31.6881 56.0774C30.7531 56.1199 29.7931 56.1524 28.8381 55.1974C28.5031 54.8624 26.9806 53.0374 29.9731 50.0449C31.4656 48.5524 33.5131 48.1224 35.2906 48.0974L24.9256 37.7324C24.5869 37.3937 24.3183 36.9917 24.135 36.5492C23.9518 36.1068 23.8574 35.6326 23.8574 35.1536C23.8574 34.1864 24.2416 33.2588 24.9256 32.5749C25.6095 31.891 26.5371 31.5067 27.5043 31.5067C28.4715 31.5067 29.3991 31.891 30.0831 32.5749L34.3931 36.8824C34.7789 36.1101 35.4268 35.5002 36.221 35.1618C37.0151 34.8233 37.9038 34.7783 38.7281 35.0349C38.9779 34.325 39.4422 33.7103 40.0567 33.2758C40.6712 32.8414 41.4055 32.6087 42.1581 32.6099H42.1656C43.0481 32.6099 43.8806 32.9199 44.5381 33.4924C44.7963 32.9764 45.1732 32.5289 45.6379 32.1867C46.1025 31.8446 46.6417 31.6174 47.2111 31.524C47.7806 31.4306 48.364 31.4735 48.9137 31.6492C49.4633 31.8249 49.9635 32.1284 50.3731 32.5349L57.1231 39.2874C61.3581 43.5224 60.8906 49.6574 55.9781 54.5749L53.1481 57.4049C51.4031 59.1274 49.2631 59.9849 46.6931 59.9849ZM32.3656 53.5599C33.7306 53.5599 35.8306 53.7849 39.2706 55.4199C46.7306 58.9624 49.7556 57.2374 51.3881 55.6324L54.2031 52.8174L54.2056 52.8149C57.1856 49.8299 59.2706 44.9724 55.3756 41.0774L48.6056 34.3074C48.4994 34.2009 48.3732 34.1163 48.2343 34.0585C48.0954 34.0007 47.9465 33.9709 47.7961 33.9706C47.4923 33.9702 47.2007 34.0904 46.9856 34.3049C46.7704 34.5194 46.6493 34.8106 46.6488 35.1144C46.6483 35.4182 46.7686 35.7097 46.9831 35.9249L48.6731 37.6149C48.7901 37.7307 48.883 37.8685 48.9464 38.0204C49.0098 38.1723 49.0424 38.3353 49.0424 38.4999C49.0424 38.6645 49.0098 38.8275 48.9464 38.9794C48.883 39.1313 48.7901 39.2691 48.6731 39.3849C48.4387 39.6192 48.1208 39.7509 47.7893 39.7509C47.4579 39.7509 47.14 39.6192 46.9056 39.3849L42.9681 35.4474C42.8631 35.3423 42.7384 35.259 42.6011 35.2024C42.4638 35.1457 42.3166 35.1169 42.1681 35.1174H42.1656C41.9389 35.1163 41.717 35.1824 41.5279 35.3075C41.3389 35.4326 41.1912 35.6111 41.1037 35.8202C41.0161 36.0293 40.9926 36.2597 41.0361 36.4821C41.0796 36.7046 41.1882 36.9092 41.3481 37.0699L44.1606 39.8824C44.2776 39.9982 44.3705 40.136 44.4339 40.2879C44.4973 40.4398 44.5299 40.6028 44.5299 40.7674C44.5299 40.932 44.4973 41.095 44.4339 41.2469C44.3705 41.3988 44.2776 41.5366 44.1606 41.6524C43.9262 41.8867 43.6083 42.0184 43.2768 42.0184C42.9454 42.0184 42.6275 41.8867 42.3931 41.6524L38.4556 37.7149C38.2407 37.4997 37.9493 37.3787 37.6452 37.3785C37.3412 37.3783 37.0495 37.4988 36.8343 37.7136C36.6192 37.9285 36.4982 38.22 36.4979 38.524C36.4977 38.828 36.6182 39.1197 36.8331 39.3349L39.6456 42.1474C39.7626 42.2632 39.8555 42.401 39.9189 42.5529C39.9823 42.7048 40.0149 42.8678 40.0149 43.0324C40.0149 43.197 39.9823 43.36 39.9189 43.5119C39.8555 43.6638 39.7626 43.8016 39.6456 43.9174C39.4112 44.1517 39.0933 44.2834 38.7618 44.2834C38.4304 44.2834 38.1125 44.1517 37.8781 43.9174L28.3156 34.3549C28.209 34.2484 28.0826 34.1638 27.9434 34.1062C27.8042 34.0485 27.655 34.0189 27.5043 34.0189C27.3537 34.0189 27.2045 34.0485 27.0653 34.1062C26.9261 34.1638 26.7996 34.2484 26.6931 34.3549C26.5865 34.4614 26.502 34.5879 26.4444 34.7271C26.3867 34.8663 26.357 35.0155 26.357 35.1661C26.357 35.3168 26.3867 35.466 26.4444 35.6052C26.502 35.7444 26.5865 35.8709 26.6931 35.9774L39.6306 48.9149C39.8271 49.1108 39.9526 49.3668 39.987 49.6422C40.0214 49.9176 39.9629 50.1966 39.8206 50.4349C39.6781 50.673 39.4608 50.8573 39.2026 50.9591C38.9443 51.0608 38.6597 51.0743 38.3931 50.9974C38.3456 50.9849 33.8656 49.6974 31.7381 51.8249C30.7706 52.7924 30.6281 53.3874 30.6531 53.5224C30.7581 53.5974 30.7806 53.6199 31.5856 53.5899C31.8206 53.5724 32.0781 53.5599 32.3656 53.5599Z' fill='%23FFC724'/%3E%3Cpath d='M21.25 50C21.1445 50.0004 21.0395 49.9869 20.9375 49.96C20.7275 49.905 0 44.3225 0 25.375V8.475C0.000109299 8.21811 0.0793656 7.96749 0.226984 7.75724C0.374602 7.547 0.583412 7.38734 0.825 7.3L20.825 0.075C21.0975 -0.025 21.4 -0.025 21.675 0.075L41.675 7.3C41.9166 7.38734 42.1254 7.547 42.273 7.75724C42.4206 7.96749 42.4999 8.21811 42.5 8.475V25.375C42.5 25.755 42.5 26.135 42.4725 26.5125C42.4414 26.8402 42.2854 27.1435 42.0369 27.3594C41.7884 27.5754 41.4664 27.6875 41.1375 27.6725C40.9736 27.6611 40.8137 27.6175 40.6667 27.5442C40.5197 27.4709 40.3886 27.3694 40.2808 27.2454C40.1731 27.1214 40.0909 26.9774 40.0388 26.8216C39.9868 26.6659 39.9659 26.5013 39.9775 26.3375C40 26.0175 40 25.695 40 25.375V9.3525L21.25 2.58L2.5 9.3525V25.375C2.5 41.1925 18.77 46.7025 21.25 47.45C21.63 47.335 22.3325 47.11 23.255 46.7575C23.4083 46.6987 23.5717 46.6707 23.7358 46.6751C23.9 46.6795 24.0616 46.7162 24.2116 46.783C24.3616 46.8499 24.4969 46.9456 24.6099 47.0648C24.7228 47.1839 24.8112 47.3242 24.87 47.4775C24.9288 47.6308 24.9568 47.7942 24.9524 47.9583C24.948 48.1225 24.9113 48.2842 24.8445 48.4341C24.7776 48.5841 24.6819 48.7194 24.5627 48.8324C24.4436 48.9453 24.3033 49.0337 24.15 49.0925C22.5725 49.6975 21.5725 49.96 21.5725 49.96C21.4671 49.9868 21.3588 50.0003 21.25 50Z' fill='%23FFC724'/%3E%3Cpath d='M18.75 30C18.4184 30 18.1002 29.8688 17.865 29.635L15.365 27.135C15.1373 26.8992 15.0113 26.5835 15.0142 26.2557C15.017 25.928 15.1485 25.6145 15.3802 25.3827C15.612 25.151 15.9255 25.0195 16.2532 25.0167C16.581 25.0138 16.8967 25.1398 17.1325 25.3675L19.6325 27.8675C19.8068 28.0423 19.9254 28.2648 19.9734 28.5069C20.0214 28.749 19.9966 28.9999 19.9022 29.228C19.8079 29.456 19.6481 29.6511 19.443 29.7885C19.238 29.9258 18.9968 29.9995 18.75 30ZM23.75 27.5C23.4185 27.5 23.1005 27.3683 22.8661 27.1339C22.6317 26.8995 22.5 26.5815 22.5 26.25V23.75C22.5 23.4185 22.6317 23.1005 22.8661 22.8661C23.1005 22.6317 23.4185 22.5 23.75 22.5C24.0815 22.5 24.3995 22.6317 24.6339 22.8661C24.8683 23.1005 25 23.4185 25 23.75V26.25C25 26.5815 24.8683 26.8995 24.6339 27.1339C24.3995 27.3683 24.0815 27.5 23.75 27.5ZM16.25 35H13.75C13.4185 35 13.1005 34.8683 12.8661 34.6339C12.6317 34.3995 12.5 34.0815 12.5 33.75C12.5 33.4185 12.6317 33.1005 12.8661 32.8661C13.1005 32.6317 13.4185 32.5 13.75 32.5H16.25C16.5815 32.5 16.8995 32.6317 17.1339 32.8661C17.3683 33.1005 17.5 33.4185 17.5 33.75C17.5 34.0815 17.3683 34.3995 17.1339 34.6339C16.8995 34.8683 16.5815 35 16.25 35Z' fill='%23FFC724'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_140_1698'%3E%3Crect width='60' height='60' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
}
