.news {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 48px;

  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_items {
    position: relative;
  }

  &_swiper {
    width: 100%;

    &_nav {
      position: absolute;
      top: 50%;
      z-index: 2;
      transform: translateY(-50%);
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 16px rgba(#18274b, 0.08), 0 4px 4px rgba(#18274b, 0.06);
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &.swiper-button-disabled {
        cursor: default;
        svg {
          path {
            fill: #f1f1f1 !important;
          }
        }
      }

      &-prev {
        left: 0;
      }

      &-next {
        right: 0;
      }
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    height: auto;

    &_img {
      width: 100%;
      height: 240px;
      display: flex;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &_content {
      padding: 48px 40px;
      display: flex;
      flex-direction: column;
      border: 1px solid #e2e4ef;
      border-top: none;
      border-radius: 0 0 8px 8px;
      height: 100%;
    }

    &_category {
      margin-bottom: 20px;
      font-size: 14px;
      text-transform: uppercase;
      color: #5b5d68;
      font-weight: 600;
      line-height: 1.7;
    }

    &_title {
      margin-bottom: 32px;
      font-size: clamp(16px, 3vw, 20px);
      color: #373940;
      font-weight: 700;
      line-height: 1.2;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      &:hover {
        color: darken(#373940, 10);
      }
    }

    &_date {
      font-size: clamp(10px, 3vw, 12px);
      color: #5b5d68;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
    }
  }
}
