.main {
  display: flex;
  flex-direction: column;

  &-index {
    overflow-x: hidden;
    gap: 100px;

    @include maxWidth(991px) {
      gap: 0;
    }

    .hero {
      @include maxWidth(991px) {
        margin-bottom: 40px;
      }
    }

    .services {
      margin-bottom: 30px;
    }

    .about {
      margin-top: 30px;

      @include maxWidth(991px) {
        margin-bottom: 30px;
      }
    }

    .nums {
      @include maxWidth(991px) {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    .cta {
      margin-bottom: 30px;

      @include maxWidth(991px) {
        padding: 36px 0;
        margin-top: 30px;
      }

      &-large {
        margin-bottom: 0;
        margin-top: 40px;
      }
    }

    .geography {
      margin-bottom: 30px;

      @include maxWidth(991px) {
        margin-top: 30px;
      }
    }

    .clients,
    .reviews,
    .faq,
    .difference {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .news {
      margin-top: 30px;
      margin-bottom: 40px;

      @include maxWidth(991px) {
        margin-bottom: 30px;
      }
    }
  }

  &-sectors {
    gap: 80px;

    @include maxWidth(991px) {
      gap: 40px;
    }

    .safety {
      @include maxWidth(991px) {
        margin-bottom: 20px;
      }
    }
  }

  &-sector {
    .seo {
      margin-bottom: 120px;

      @include maxWidth(991px) {
        margin-bottom: 60px;
      }
    }

    .safety {
      margin-bottom: 160px;

      @include maxWidth(991px) {
        margin-bottom: 80px;
      }
    }
  }

  &-service {
    .seo {
      margin-bottom: 120px;

      @include maxWidth(991px) {
        margin-bottom: 60px;
      }
    }

    .safety {
      margin-bottom: 160px;

      @include maxWidth(991px) {
        margin-bottom: 60px;
      }
    }

    .cta {
      margin-top: 40px;
      margin-bottom: 160px;

      @include maxWidth(991px) {
        margin-bottom: 60px;
      }

      &-large {
        margin-bottom: 0;

        @include maxWidth(991px) {
          margin-bottom: 0;
        }
      }
    }

    .faq {
      margin-bottom: 160px;

      @include maxWidth(991px) {
        margin-bottom: 60px;
      }
    }

    .serv {
      margin-bottom: 160px;

      @include maxWidth(991px) {
        margin-bottom: 60px;
      }
    }

    .about {
      margin-bottom: 100px;

      @include maxWidth(991px) {
        margin-bottom: 60px;
      }
    }

    .nums {
      margin-bottom: 100px;

      @include maxWidth(991px) {
        margin-bottom: 60px;
      }
    }

    .difference {
      margin-bottom: 110px;

      @include maxWidth(991px) {
        margin-bottom: 60px;
      }
    }
  }

  &-contacts {
    .map {
      margin-bottom: 80px;

      @include maxWidth(991px) {
        margin-bottom: 40px;
      }
    }

    .geography {
      margin-bottom: 120px;

      @include maxWidth(991px) {
        margin-bottom: 60px;
      }
    }
    .information {
      margin-bottom: 165px;

      @include maxWidth(991px) {
        margin-bottom: 40px;
      }
    }
  }

  &-about {
    gap: 100px;

    @include maxWidth(991px) {
      gap: 40px;
    }

    .seo,
    .difference,
    .about,
    .nums,
    .geography,
    .clients,
    .reviews {
      margin-bottom: 60px;

      @include maxWidth(991px) {
        margin-bottom: 20px;
      }
    }

    .faq {
      margin-bottom: 235px;

      @include maxWidth(991px) {
        margin-bottom: 120px;
      }
    }
  }

  &-info {
    background: #f1f1f1;
    .information {
      margin-bottom: 102px;

      @include maxWidth(991px) {
        margin-bottom: 60px;
      }
    }
  }

  &-object {
    gap: 100px;

    @include maxWidth(991px) {
      gap: 40px;
    }

    .about {
      margin-bottom: 0;
    }

    .security,
    .about-type2,
    .seo,
    .cta:not(.cta-large),
    .faq,
    .clients,
    .reviews,
    .difference {
      margin-bottom: 60px;

      @include maxWidth(991px) {
        margin-bottom: 20px;
      }
    }

    .nums {
    }

    .serv {
      margin-bottom: 30px;

      @include maxWidth(991px) {
        margin-bottom: 0;
      }
    }
  }

  &-reviews {
    gap: 48px;

    @include maxWidth(991px) {
      gap: 40px;
    }

    .reviews {
      margin-bottom: 40px;
    }
  }

  &-review {
    gap: 100px;

    @include maxWidth(991px) {
      gap: 40px;
    }

    .reviews {
      margin-bottom: 100px;

      @include maxWidth(991px) {
        margin-bottom: 40px;
      }
    }
  }

  &-news {
    gap: 60px;

    @include maxWidth(991px) {
      gap: 40px;
    }

    .news {
      margin-bottom: 115px;

      @include maxWidth(991px) {
        margin-bottom: 20px;
      }
    }
  }

  &-new {
    .thumbnail {
      margin-bottom: 60px;

      @include maxWidth(991px) {
        margin-bottom: 40px;
      }
    }

    .new {
      margin-bottom: 80px;

      @include maxWidth(991px) {
        margin-bottom: 40px;
      }
    }

    .news {
      margin-bottom: 140px;

      @include maxWidth(991px) {
        margin-bottom: 60px;
      }
    }
  }

  &-case {
    .thumbnail,
    .new {
      margin-bottom: 80px;

      @include maxWidth(991px) {
        margin-bottom: 40px;
      }
    }

    .news {
      margin-bottom: 140px;

      @include maxWidth(991px) {
        margin-bottom: 60px;
      }
    }
  }

  &-cases {
    gap: 80px;

    @include maxWidth(991px) {
      gap: 40px;
    }

    .news {
      margin-bottom: 130px;

      @include maxWidth(991px) {
        margin-bottom: 30px;
      }
    }

    .clients {
      margin-bottom: 140px;

      @include maxWidth(991px) {
        margin-bottom: 40px;
      }
    }
  }

  &-faq {
    .intro {
      margin-bottom: 48px;
    }

    .faq {
      margin-bottom: 130px;

      @include maxWidth(991px) {
        gap: 60px;
      }
    }
  }

  &-tipical {
    .intro {
      margin-bottom: 60px;

      @include maxWidth(991px) {
        gap: 40px;
      }
    }

    .new {
      margin-bottom: 100px;

      @include maxWidth(991px) {
        gap: 40px;
      }
    }

    .faq {
      margin-bottom: 150px;

      @include maxWidth(991px) {
        gap: 60px;
      }
    }
  }

  &-docs {
    .intro {
      margin-bottom: 60px;

      @include maxWidth(991px) {
        margin-bottom: 24px;
      }
    }

    .docs {
      margin-bottom: 151px;

      @include maxWidth(991px) {
        margin-bottom: 68px;
      }
    }
  }
}
