.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &_item {
    display: inline-block;
    width: 100%;
    height: 3px;
    border-radius: 6px;
    background: #000;
  }
}
