.content {
  &-ws {
    display: grid;
    grid-template-columns: minmax(0, auto) 368px;
    align-items: flex-start;
    gap: 40px;
    position: relative;

    @include maxWidth(1200px) {
      gap: 30px;
    }

    @include maxWidth(991px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  &-rev {
    @include maxWidth(991px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &_block {
    // overflow: hidden;
    width: 100%;
  }
}
