.drawer {
  display: none;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  gap: 20px;
  background: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  padding: 60px 20px;
  overflow-y: auto;

  &.show {
    display: flex;
  }

  &_menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    padding-top: 8px;

    &_item {
      position: relative;
    }

    &_link {
      width: 100%;
      background: #fff;
      border-radius: 8px;
      padding: 18px 16px;
      color: #000;
      text-transform: uppercase;
      font-weight: 650;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
    }
  }

  &_contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px 16px;
    background: #fff;
    border-radius: 8px;

    &_item {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &_title {
        color: #5b5d68;
        font-size: 14px;
        font-weight: 550;
      }

      &_list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
          display: flex;
          align-items: center;
          gap: 6px;

          &::before {
            content: '';
            width: 16px;
            height: 16px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
          }

          span,
          a {
            color: #000;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }

      &_phone {
        &::before {
          background-image: url('data:image/svg+xml,%3Csvg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg clip-path="url(%23clip0_269_229)"%3E%3Cpath d="M15.8824 12.9753L12.5479 9.64088C12.4742 9.56725 12.3744 9.52588 12.2702 9.52588C12.1661 9.52588 12.0662 9.56725 11.9926 9.64088L10.2408 11.3926C9.76456 11.261 8.4988 10.7978 7.04251 9.34199C5.53161 7.83092 4.91945 6.32482 4.76761 5.8989L6.50909 4.15742C6.54562 4.12097 6.5746 4.07768 6.59437 4.03002C6.61414 3.98236 6.62432 3.93126 6.62432 3.87967C6.62432 3.82807 6.61414 3.77697 6.59437 3.72931C6.5746 3.68165 6.54562 3.63836 6.50909 3.60191L3.17454 0.267361C3.10087 0.193715 3.00096 0.152344 2.89679 0.152344C2.79262 0.152344 2.69271 0.193715 2.61904 0.267361L0.669901 2.21667C0.644661 2.24183 0.623003 2.27034 0.605534 2.30141L0.601939 2.30551C-0.949871 4.21271 0.603481 8.47595 4.13866 12.0113C6.65443 14.5269 9.70259 16.1523 11.9046 16.1523C12.6907 16.1523 13.3379 15.9532 13.8291 15.5604L13.8749 15.5289C13.8949 15.5153 13.9135 15.4998 13.9304 15.4826L15.8824 13.5306C15.956 13.4569 15.9974 13.3571 15.9974 13.2529C15.9974 13.1488 15.956 13.0489 15.8824 12.9753Z" fill="%235B5D68"/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id="clip0_269_229"%3E%3Crect width="16" height="16" fill="white" transform="translate(0 0.152344)"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
        }
      }
      &_hours {
        &::before {
          background-image: url('data:image/svg+xml,%3Csvg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7.99968 1.48535C6.68114 1.48535 5.3922 1.87634 4.29588 2.60889C3.19955 3.34143 2.34506 4.38262 1.84048 5.6008C1.3359 6.81897 1.20387 8.15941 1.46111 9.45262C1.71834 10.7458 2.35328 11.9337 3.28563 12.8661C4.21798 13.7984 5.40587 14.4334 6.69908 14.6906C7.99228 14.9478 9.33273 14.8158 10.5509 14.3112C11.7691 13.8066 12.8103 12.9521 13.5428 11.8558C14.2754 10.7595 14.6663 9.47056 14.6663 8.15202C14.6644 6.3845 13.9614 4.68994 12.7116 3.44012C11.4618 2.19029 9.76719 1.48729 7.99968 1.48535ZM10.3683 10.082L7.70168 8.74869C7.59086 8.69331 7.49766 8.60814 7.43254 8.50275C7.36742 8.39736 7.33295 8.27591 7.33301 8.15202V4.81869C7.33301 4.64187 7.40325 4.4723 7.52827 4.34728C7.6533 4.22226 7.82287 4.15202 7.99968 4.15202C8.17649 4.15202 8.34606 4.22226 8.47108 4.34728C8.59611 4.4723 8.66634 4.64187 8.66634 4.81869V7.74002L10.9643 8.88868C11.1226 8.96772 11.243 9.10638 11.299 9.27416C11.355 9.44195 11.342 9.62511 11.263 9.78335C11.184 9.9416 11.0453 10.062 10.8775 10.118C10.7098 10.174 10.5266 10.1611 10.3683 10.082Z" fill="%235B5D68"/%3E%3C/svg%3E');
        }
      }
      &_email {
        &::before {
          background-image: url('data:image/svg+xml,%3Csvg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg clip-path="url(%23clip0_269_241)"%3E%3Cpath d="M15.6676 2.99976H0.332419C0.244256 2.99976 0.159704 3.03478 0.0973633 3.09712C0.0350226 3.15946 0 3.24401 0 3.33218L0 12.9723C0 13.0605 0.0350226 13.145 0.0973633 13.2074C0.159704 13.2697 0.244256 13.3048 0.332419 13.3048H15.6676C15.7557 13.3048 15.8403 13.2697 15.9026 13.2074C15.965 13.145 16 13.0605 16 12.9723V3.33218C16 3.14868 15.8509 2.99976 15.6676 2.99976ZM15.1133 5.9405C15.1133 5.98518 15.1013 6.02903 15.0785 6.06748C15.0558 6.10593 15.0231 6.13756 14.984 6.15907L8.12117 9.91707C8.08443 9.93718 8.04323 9.94774 8.00135 9.94777C7.95947 9.9478 7.91825 9.9373 7.88149 9.91723L1.01637 6.15923C0.977125 6.13776 0.94438 6.10612 0.92157 6.06764C0.89876 6.02915 0.886725 5.98524 0.886728 5.9405V4.68562C0.886721 4.64272 0.897784 4.60055 0.918846 4.56317C0.939908 4.5258 0.970257 4.49449 1.00696 4.47228C1.04366 4.45007 1.08547 4.43771 1.12835 4.43638C1.17123 4.43506 1.21372 4.44482 1.25172 4.46473L7.84759 7.91557C7.93933 7.96377 8.06382 7.9636 8.1559 7.9154L14.7484 4.46489C14.7865 4.44514 14.8289 4.43549 14.8717 4.43689C14.9146 4.43828 14.9563 4.45066 14.993 4.47284C15.0296 4.49503 15.06 4.52627 15.0811 4.56356C15.1022 4.60085 15.1133 4.64294 15.1134 4.68579L15.1133 5.9405Z" fill="%235B5D68"/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id="clip0_269_241"%3E%3Crect width="16" height="16" fill="white" transform="translate(0 0.152344)"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
        }
      }
      &_address {
        &::before {
          background-image: url('data:image/svg+xml,%3Csvg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cg clip-path="url(%23clip0_269_248)"%3E%3Cpath d="M7.9996 0.152344C4.75189 0.152344 2.10938 2.79486 2.10938 6.0429C2.10938 6.89012 2.28278 7.69902 2.62452 8.44733C4.09724 11.67 6.92085 15.0724 7.75137 16.0384C7.78216 16.0741 7.82029 16.1027 7.86315 16.1224C7.90602 16.142 7.95262 16.1522 7.99977 16.1522C8.04692 16.1522 8.09352 16.142 8.13638 16.1224C8.17925 16.1027 8.21738 16.0741 8.24817 16.0384C9.07836 15.0726 11.902 11.6703 13.3752 8.44733C13.7171 7.69902 13.8903 6.89012 13.8903 6.0429C13.89 2.79486 11.2475 0.152344 7.9996 0.152344ZM7.9996 9.10247C6.31254 9.10247 4.93987 7.7298 4.93987 6.04274C4.93987 4.35551 6.31254 2.98284 7.9996 2.98284C9.68667 2.98284 11.0593 4.35551 11.0593 6.04274C11.0595 7.7298 9.68683 9.10247 7.9996 9.10247Z" fill="%235B5D68"/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id="clip0_269_248"%3E%3Crect width="16" height="16" fill="white" transform="translate(0 0.152344)"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
        }
      }
    }
  }
}
