.filials {
  display: flex;
  align-items: center;
  gap: 24px;

  &_item {
    display: flex;
    align-items: center;
    gap: 6px;

    &_text {
      font-size: 16px;
      color: #000;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .filials {
    gap: 20px;
    &_item {
      &_text {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .filials {
    display: none;
  }
}
