.nav {
  &_menu {
    display: flex;
    align-items: center;
    gap: 40px;

    &_item {
      font-size: 16px;
      color: #000;
      text-transform: uppercase;
      font-weight: 650;
      cursor: pointer;

      &-text {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
      }
    }

    &_link {
      display: inline-block;
      color: inherit;
      width: max-content;
    }
  }

  &_submenu {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &_item {
      color: #373940;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;
    }

    &_link {
      display: inline-block;
      color: inherit;
      width: max-content;
    }
  }
}

@media only screen and (max-width: 1550px) {
  .nav {
    &_menu {
      gap: 26px;

      &_item {
        &-text {
        }
      }

      &_link {
      }
    }

    &_submenu {
    }
  }
}

@media only screen and (max-width: 1200px) {
  .nav {
    &_menu {
      gap: 15px;

      &_item {
        font-size: 14px;
      }
    }
  }
}
