.search {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  height: fit-content;
  max-height: 415px;
  $search: &;

  &_item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;

    &.hide {
      display: none;
    }
  }

  &_symbol {
    color: #ca0800;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_item {
      color: #5b5d68;
      font-size: 15px;
      line-height: 1;
      font-weight: 500;

      &-v2 {
        font-size: 18px;
        color: #373940;
        font-weight: 600;
      }
    }

    &_link {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
  }

  &_notFound {
    display: none;
    justify-content: center;
    align-items: center;

    p {
      font-size: clamp(20px, 3vw, 24px);
      text-transform: uppercase;
      font-weight: 700;
      color: #000;
      text-align: center;
    }
  }

  &.notFound {
    #{$search}_item {
      display: none;
    }

    #{$search}_notFound {
      display: flex;
    }
  }

  &_input {
    width: 100%;
    input {
      color: #5b5d68;
      font-size: clamp(14px, 3vw, 20px);
      padding-bottom: 20px;
      border-bottom: 1px solid #e2e4ef;
      font-weight: 500;
      width: 100%;

      @include maxWidth(576px) {
        padding-bottom: 16px;
      }
    }
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &_trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_349_287)'%3E%3Cpath d='M15.6211 13.6849L11.9426 10.0062C12.5894 8.97799 12.9319 7.78766 12.9303 6.57294C12.9303 3.0022 10.0356 0.10791 6.46503 0.10791C2.89442 0.10791 0 3.0022 0 6.57294C0 10.1438 2.89429 13.0378 6.46503 13.0378C7.78569 13.0395 9.07489 12.6349 10.1577 11.8788L13.7924 15.5138C13.9124 15.6338 14.055 15.729 14.2119 15.7939C14.3688 15.8588 14.537 15.892 14.7067 15.8917C14.8766 15.892 15.0448 15.8588 15.2018 15.7939C15.3588 15.7291 15.5014 15.6339 15.6215 15.5138C15.8639 15.2712 16 14.9422 16 14.5993C15.9999 14.2563 15.8636 13.9274 15.6211 13.6849ZM6.46503 10.9433C4.05162 10.9433 2.09498 8.98676 2.09498 6.57321C2.09498 4.15967 4.05162 2.20302 6.46503 2.20302C8.87858 2.20302 10.8351 4.15967 10.8351 6.57321C10.8351 8.98676 8.87858 10.9433 6.46503 10.9433Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_349_287'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
