.socials {
  display: flex;
  align-items: center;
  gap: 8px;

  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #5b5d68;
    border-radius: 50%;
  }
}
