.swiper {
  width: 100%;

  &-slide {
    height: auto;
  }

  &_nav {
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 16px rgba(#18274b, 0.08), 0 4px 4px rgba(#18274b, 0.06);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include maxWidth(991px) {
      display: none;
    }

    &.swiper-button-disabled {
      cursor: default;
      svg {
        path {
          fill: #f1f1f1 !important;
        }
      }
    }

    &-prev {
      left: 0;

      @include maxWidth(1640px) {
        left: 20px;
      }
    }

    &-next {
      right: 0;

      @include maxWidth(1640px) {
        right: 20px;
      }
    }
  }

  &_section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;

    @include maxWidth(991px) {
      gap: 28px;
      padding-right: 0;
    }

    &_actions {
      display: none;

      @include maxWidth(991px) {
        display: flex;
      }
    }
  }
}
