.title {
  display: flex;

  &-section {
    flex-direction: column;
    gap: 24px;

    h2 {
      font-size: clamp(24px, 3vw, 40px);
      font-weight: 700;
      color: #000;
      line-height: 1.2;
    }

    p {
      font-size: clamp(16px, 3vw, 20px);
      color: #5b5d68;
      font-weight: 550;
      line-height: 1.4;
    }
  }
}
